<% title "Members" %>

<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Card</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.card_num %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %> |
<%= link_to 'Delete All', delete_all_members_path, confirm: 'Are you sure?', :method => :delete %>
