<div data-role = "header" data-title="members">
	<h1>Listing members</h1>
</div>
<div data-role = "content">
<ul data-role  = "listview">
<% @members.each do |member| %>

	<li data-role = "list-divider"><%= member.name %> </li>
	<li>
		<%= link_to member  do %>
			<h3>Member Information</h3>
			<p><%= member.card_num %></p>
			<p>
			<% if member.registered? %>
				<b>Registered: <%= member.reg_date %></b>
			<% end %>
			</p>
			<div data-role="controlgroup" data-type="horizontal">
				<%= link_to 'Edit', edit_member_path(member), "data-role" => "button", "data-icon" => "gear" %>
				<%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete, "data-role" => "button", "data-icon" => "delete" %>
			</div>
			
		<% end %>
	</li>


<% end %>
</ul>
</div>
<br />

<%= link_to 'New Member', new_member_path, "data-role" => "button", "data-icon" => "plus" %>
