<% title "Member Details" %>

<div data-role="content">
	<h3>Name: <%= @member.name %></h3>
	<p>
		<b>Card:</b>
		<%= @member.card_num %>
	</p>

	<p>
		<% if @member.registered? %>
			<b>Registered: <%= @member.reg_date %></b>
		<% end %>
		
	</p>
	
	<h3>Offers Selected</h3>
	<% for product in @member.products do %>
		<p><%= product.name %></p>
	<% end %>
</div>

<%= link_to 'Edit', edit_member_path(@member), "data-role" => "button", "data-icon" => "gear" %>
<%= link_to 'Back', members_path, "data-role" => "button", "data-icon" => "back" %>
<%= link_to 'Register', member_registers_path(@member), "data-role" => "button", "data-icon" => "star"%>
